In [12]:
# import package
from requests import get

# specify the url
url = 'http://www.portaltransparencia.gov.br/servidores/OrgaoExercicio-ListaOrgaos.asp?CodOS=15000&Pagina=5'

# packages the request, send the request and catch the response
response_1 = get(url)

# extract the text
text = response_1.text

print(text[:500])

<!-- intancia o include para obter a connection string -->


<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
  <title>
    Portal da Transparência - SERVIDORES CIVIS E MILITARES DO PODER EXECUTIVO FEDERAL - POR ÓRGÃO DE EXERCÍCIO DO SERVIDOR
  </title>

	<meta name="robots" content="none" />
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />

	<link rel="shortcut icon" href="/favicon.ico?v=4.38.3" />
	<link rel="icon" type="image/png" href="/images/favicon.png?

In [16]:
from bs4 import BeautifulSoup

html_soup_1 = BeautifulSoup(response_1.text, 'html.parser')
type(html_soup)

bs4.BeautifulSoup

In [19]:
#table_rows_1 = html_soup.find_all('tr')
table_rows_1 = html_soup_1.select('div #listagem tr')
print(type(table_rows_1))
print(len(table_rows_1))

<class 'list'>
16

In [20]:
institution_name = 'UNIVERSIDADE FED. DO RIO GRANDE DO NORTE'
employee_count = 0

for row in table_rows_1:
    columns = row.find_all('td')
    if (columns is None) or (len(columns) < 3):
        continue
    #print(columns[1].text)
    if columns[1].text.strip() != institution_name:
        continue
    employee_count = int(columns[2].text)
    
print(employee_count)

6183

In [26]:
# import package
from requests import get

# specify the url
url = 'http://www.portaltransparencia.gov.br/servidores/OrgaoExercicio-ListaServidores.asp?CodOrg=26243&Pagina=1'

# packages the request, send the request and catch the response
response_2 = get(url)

# extract the text
text = response_2.text

print(text[:500])

<!-- intancia o include para obter a connection string -->


<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
  <title>
    Portal da Transparência - SERVIDORES CIVIS E MILITARES DO PODER EXECUTIVO FEDERAL - POR ÓRGÃO DE EXERCÍCIO DO SERVIDOR
  </title>

	<meta name="robots" content="none" />
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />

	<link rel="shortcut icon" href="/favicon.ico?v=4.38.3" />
	<link rel="icon" type="image/png" href="/images/favicon.png?

In [27]:
from bs4 import BeautifulSoup

html_soup_2 = BeautifulSoup(response_2.text, 'html.parser')
type(html_soup_2)

bs4.BeautifulSoup

In [29]:
#table_rows_2 = html_soup_2.find_all('tr')
table_rows_2 = html_soup_2.select('div #listagem tr')
print(type(table_rows_2))
print(len(table_rows_2))

<class 'list'>
16

In [31]:
first_employee = table_rows_2[1]
first_employee

<tr>
<td class="firstChild">***.094.550-** </td>
<td><a href="OrgaoExercicio-DetalhaServidor.asp?IdServidor=1848775&amp;CodOrgao=26243">ABDO FARRET NETO                       </a></td>
<td style="text-align: right;">UNIVERSIDADE FED. DO RIO GRANDE DO NORTE</td>
</tr>

In [36]:
employee_name = first_employee.select('td a')[0].text
first_name = employee_name.strip().split()[0]
first_name

'ABDO'

In [43]:
# Lists to store the scraped data in
full_names = []

# Extract data from individual employee row
for row in table_rows_2[1:]:
    # The full name
    full_name = row.select('td a')[0].text
    full_names.append(full_name.strip())

print(full_names)

['ABDO FARRET NETO', 'ABMAEL BEZERRA DE OLIVEIRA', 'ABNER CARLOS COSTA DE MELO', 'ABRAHAO SANDERSON NUNES FERNANDES DA SILVA', 'ACACIA JESSICA MAIA DE MOURA', 'ACACIO MEDEIROS NOGUEIRA', 'ACILENE MARIA BORGES GOMES OLIVEIRA', 'ACSA NARA DE ARAUJO BRITO BARROS', 'ACYNELLY DAFNE DA SILVA NUNES', 'ADA CRISTINA SCUDELARI', 'ADA ISA CUSTODIO DE MESQUITA', 'ADA LIMA FERREIRA DE SOUSA', 'ADAILDE TEIXEIRA DE ALMEIDA', 'ADAILDO GOMES D ASSUNCAO', 'ADAILSON DA SILVA ISIDRO']

In [44]:
# Let’s check the data collected so far. 
# Pandas makes it easy for us to see whether 
# we’ve scraped our data successfully.

import pandas as pd

web_scraping_df = pd.DataFrame({'full_name': full_names})
print(web_scraping_df.info())
web_scraping_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 1 columns):
full_name    15 non-null object
dtypes: object(1)
memory usage: 200.0+ bytes
None

                                     full_name
0                             ABDO FARRET NETO
1                   ABMAEL BEZERRA DE OLIVEIRA
2                   ABNER CARLOS COSTA DE MELO
3   ABRAHAO SANDERSON NUNES FERNANDES DA SILVA
4                 ACACIA JESSICA MAIA DE MOURA
5                     ACACIO MEDEIROS NOGUEIRA
6          ACILENE MARIA BORGES GOMES OLIVEIRA
7             ACSA NARA DE ARAUJO BRITO BARROS
8                ACYNELLY DAFNE DA SILVA NUNES
9                       ADA CRISTINA SCUDELARI
10                ADA ISA CUSTODIO DE MESQUITA
11                  ADA LIMA FERREIRA DE SOUSA
12                 ADAILDE TEIXEIRA DE ALMEIDA
13                    ADAILDO GOMES D ASSUNCAO
14                    ADAILSON DA SILVA ISIDRO

In [57]:
#pages = [str(i) for i in range(1,3)]
pages = [str(i) for i in range(1,414)]
pages

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99',
 '100',
 '101',
 '102',
 '103',
 '104',
 '105',
 '106',
 '107',
 '108',
 '109',
 '110',
 '111',
 '112',
 '113',
 '114',
 '115',
 '116',
 '117',
 '118',
 '119',
 '120',
 '121',
 '122',
 '123',
 '124',
 '125',
 '126',
 '127',
 '128',
 '129',
 '130',
 '131',
 '132',
 '133',
 '134',
 '135',
 '136',
 '137',
 '138',
 '139',
 '140',
 '141',
 '142',
 '143',
 '144',
 '145',
 '146',
 '147',
 '148',
 '149',
 '150',
 '151',
 '152',
 '153',
 '154',
 '155',
 '156',
 '157',
 '158',
 '159',
 '160',
 '161',
 '162',
 '163',
 '164',
 '165',
 '166',
 '167',
 '168',
 '169',
 '170',
 '171',
 '172',
 '173',
 '174',
 '175',
 '176',
 '177',
 '178',
 '179',
 '180',
 '181',
 '182',
 '183',
 '184',
 '185',
 '186',
 '187',
 '188',
 '189',
 '190',
 '191',
 '192',
 '193',
 '194',
 '195',
 '196',
 '197',
 '198',
 '199',
 '200',
 '201',
 '202',
 '203',
 '204',
 '205',
 '206',
 '207',
 '208',
 '209',
 '210',
 '211',
 '212',
 '213',
 '214',
 '215',
 '216',
 '217',
 '218',
 '219',
 '220',
 '221',
 '222',
 '223',
 '224',
 '225',
 '226',
 '227',
 '228',
 '229',
 '230',
 '231',
 '232',
 '233',
 '234',
 '235',
 '236',
 '237',
 '238',
 '239',
 '240',
 '241',
 '242',
 '243',
 '244',
 '245',
 '246',
 '247',
 '248',
 '249',
 '250',
 '251',
 '252',
 '253',
 '254',
 '255',
 '256',
 '257',
 '258',
 '259',
 '260',
 '261',
 '262',
 '263',
 '264',
 '265',
 '266',
 '267',
 '268',
 '269',
 '270',
 '271',
 '272',
 '273',
 '274',
 '275',
 '276',
 '277',
 '278',
 '279',
 '280',
 '281',
 '282',
 '283',
 '284',
 '285',
 '286',
 '287',
 '288',
 '289',
 '290',
 '291',
 '292',
 '293',
 '294',
 '295',
 '296',
 '297',
 '298',
 '299',
 '300',
 '301',
 '302',
 '303',
 '304',
 '305',
 '306',
 '307',
 '308',
 '309',
 '310',
 '311',
 '312',
 '313',
 '314',
 '315',
 '316',
 '317',
 '318',
 '319',
 '320',
 '321',
 '322',
 '323',
 '324',
 '325',
 '326',
 '327',
 '328',
 '329',
 '330',
 '331',
 '332',
 '333',
 '334',
 '335',
 '336',
 '337',
 '338',
 '339',
 '340',
 '341',
 '342',
 '343',
 '344',
 '345',
 '346',
 '347',
 '348',
 '349',
 '350',
 '351',
 '352',
 '353',
 '354',
 '355',
 '356',
 '357',
 '358',
 '359',
 '360',
 '361',
 '362',
 '363',
 '364',
 '365',
 '366',
 '367',
 '368',
 '369',
 '370',
 '371',
 '372',
 '373',
 '374',
 '375',
 '376',
 '377',
 '378',
 '379',
 '380',
 '381',
 '382',
 '383',
 '384',
 '385',
 '386',
 '387',
 '388',
 '389',
 '390',
 '391',
 '392',
 '393',
 '394',
 '395',
 '396',
 '397',
 '398',
 '399',
 '400',
 '401',
 '402',
 '403',
 '404',
 '405',
 '406',
 '407',
 '408',
 '409',
 '410',
 '411',
 '412',
 '413']

In [48]:
from time import sleep
from random import randint

In [49]:
from time import time

start_time = time()
requests = 0

for _ in range(5):
    # A request would go here
    requests += 1
    sleep(randint(1,3))
    elapsed_time = time() - start_time
    print('Request: {}; Frequency: {} requests/s'.format(requests, requests/elapsed_time))

Request: 1; Frequency: 0.3329761151807447 requests/s
Request: 2; Frequency: 0.39967026258072036 requests/s
Request: 3; Frequency: 0.3746818026111362 requests/s
Request: 4; Frequency: 0.3633042290194292 requests/s
Request: 5; Frequency: 0.3568041620255997 requests/s

In [50]:
from IPython.core.display import clear_output

start_time = time()
requests = 0

for _ in range(5):
    # A request would go here
    requests += 1
    sleep(randint(1,3))
    current_time = time()
    elapsed_time = current_time - start_time
    print('Request: {}; Frequency: {} requests/s'.format(requests, requests/elapsed_time))
    clear_output(wait = True)

Request: 5; Frequency: 0.41595837877403796 requests/s

In [51]:
from warnings import warn

warn("Warning Simulation")

/home/roger/Utils/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Warning Simulation
  This is separate from the ipykernel package so we can avoid doing imports until

In [58]:
# Redeclaring the lists to store data in
full_names = []

# Preparing the monitoring of the loop
start_time = time()
requests = 0

# For every page in the interval 1-413
for page in pages:
    #url 
    url = 'http://www.portaltransparencia.gov.br/servidores/' + \
          'OrgaoExercicio-ListaServidores.asp?CodOrg=26243&' + \
          'Pagina={}'.format(page)
        
    # Make a get request
    response = get(url)
        
    # Pause the loop
    sleep(randint(8,15))
        
    # Monitor the requests
    requests += 1
    elapsed_time = time() - start_time
    print('Request:{}; Frequency: {} requests/s'.format(requests, requests/elapsed_time))
    clear_output(wait = True)
              
    # Throw a warning for non-200 status codes
    if response.status_code != 200:
        warn('Request: {}; Status code: {}'.format(requests, response.status_code))
              
    # Break the loop if the number of requests is greater than expected
    if requests > 413:
        warn('Number of requests was greater than expected.')  
        break 
        
    # Parse the content of the request with BeautifulSoup
    page_html = BeautifulSoup(response.text, 'html.parser')
        
    # Select all the 16 employee rows from a single page
    table_rows = page_html.select('div #listagem tr')
        
    # For every row of these 16, starting from the second
    for row in table_rows[1:]:
        # Scrape the full name
        full_name = row.select('td a')[0].text
        full_names.append(full_name.strip())

Request:413; Frequency: 0.0777207530356165 requests/s

In [59]:
employee_names = pd.DataFrame({'full_name': full_names})
print(employee_names.info())
employee_names.head(100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6183 entries, 0 to 6182
Data columns (total 1 columns):
full_name    6183 non-null object
dtypes: object(1)
memory usage: 48.4+ KB
None

                                     full_name
0                             ABDO FARRET NETO
1                   ABMAEL BEZERRA DE OLIVEIRA
2                   ABNER CARLOS COSTA DE MELO
3   ABRAHAO SANDERSON NUNES FERNANDES DA SILVA
4                 ACACIA JESSICA MAIA DE MOURA
5                     ACACIO MEDEIROS NOGUEIRA
6          ACILENE MARIA BORGES GOMES OLIVEIRA
7             ACSA NARA DE ARAUJO BRITO BARROS
8                ACYNELLY DAFNE DA SILVA NUNES
9                       ADA CRISTINA SCUDELARI
10                ADA ISA CUSTODIO DE MESQUITA
11                  ADA LIMA FERREIRA DE SOUSA
12                 ADAILDE TEIXEIRA DE ALMEIDA
13                    ADAILDO GOMES D ASSUNCAO
14                    ADAILSON DA SILVA ISIDRO
15                    ADAILTON GARCIA DA SILVA
16                  ADALA NAYANA DE SOUSA MATA
17          ADALBERTO ALMEIDA DE ARAUJO JUNIOR
18           ADALBERTO ATSUSHI HAMAGUCHI PORTO
19                 ADALBERTO FABRICIO DA SILVA
20         ADALGIZA CRISTINA GOMES DE OLIVEIRA
21            ADAM RAFAEL GONCALVES CAVALCANTE
22                              ADAMO PERRUCCI
23                            ADAUTO CHIAMENTI
24              ADAUTO LUIZ DE PAIVA FERNANDES
25                       ADAUTO SABINO BEZERRA
26                  ADDISON RIBEIRO DE ALMEIDA
27                       ADEILDE LIMA DA SILVA
28             ADEILZE MAIA DE MORAIS MEDEIROS
29               ADELAIDE MARIA MORAIS AVELINO
..                                         ...
70                     ADRIANA MARQUES ROBERTO
71                 ADRIANA MONTEIRO DE ALMEIDA
72                          ADRIANA NESI DE SA
73               ADRIANA NOBREGA SILVA AZEVEDO
74                       ADRIANA OLIVEIRA DIAS
75             ADRIANA OLIVEIRA FREIRE DE LIMA
76            ADRIANA PAULA DA SILVA ELEUTERIO
77                       ADRIANA ROSA CARVALHO
78                       ADRIANA SZILAGYI LEAO
79                               ADRIANE CENCI
80                ADRIANE DENISE FONSECA LOPES
81                  ADRIANE TRAMONTIN SANTIAGO
82            ADRIANNE PAULA VIEIRA DE ANDRADE
83                       ADRIANO ARANHA FREIRE
84                 ADRIANO BRETANHA LOPES TORT
85           ADRIANO CALIMAN FERREIRA DA SILVA
86              ADRIANO CARLOS COSTA DE MORAIS
87               ADRIANO CHARLES DA SILVA CRUZ
88              ADRIANO DE ARAUJO LIMA LIGUORI
89                   ADRIANO DE OLIVEIRA SOUSA
90                          ADRIANO DOS SANTOS
91       ADRIANO HENRIQUE DO NASCIMENTO RANGEL
92                        ADRIANO LIMA TROLEIS
93                         ADRIANO LOPES GOMES
94             ADRIANO LUIS DE CARVALHO ARAUJO
95                  ADRIANO MARINHO DOS SANTOS
96                     ADRIANO MEDEIROS CAMARA
97                      ADRIANO MEDEIROS COSTA
98                  ADRIANO MEDEIROS DE ARAUJO
99                       ADRIANO ROCHA GERMANO

[100 rows x 1 columns]

In [60]:
employee_names.to_csv('employee_names.csv')
print('Done!')

Done!

In [63]:
print('Now extract unique first names and check their gender!')

Now extract unique first names and check their gender!

In [68]:
employee_names['first_name'] = employee_names.apply(lambda row: row.full_name.split()[0].upper(), axis=1)

In [69]:
print(employee_names.info())
employee_names.head(100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6183 entries, 0 to 6182
Data columns (total 2 columns):
full_name     6183 non-null object
first_name    6183 non-null object
dtypes: object(2)
memory usage: 96.7+ KB
None

                                     full_name first_name
0                             ABDO FARRET NETO       ABDO
1                   ABMAEL BEZERRA DE OLIVEIRA     ABMAEL
2                   ABNER CARLOS COSTA DE MELO      ABNER
3   ABRAHAO SANDERSON NUNES FERNANDES DA SILVA    ABRAHAO
4                 ACACIA JESSICA MAIA DE MOURA     ACACIA
5                     ACACIO MEDEIROS NOGUEIRA     ACACIO
6          ACILENE MARIA BORGES GOMES OLIVEIRA    ACILENE
7             ACSA NARA DE ARAUJO BRITO BARROS       ACSA
8                ACYNELLY DAFNE DA SILVA NUNES   ACYNELLY
9                       ADA CRISTINA SCUDELARI        ADA
10                ADA ISA CUSTODIO DE MESQUITA        ADA
11                  ADA LIMA FERREIRA DE SOUSA        ADA
12                 ADAILDE TEIXEIRA DE ALMEIDA    ADAILDE
13                    ADAILDO GOMES D ASSUNCAO    ADAILDO
14                    ADAILSON DA SILVA ISIDRO   ADAILSON
15                    ADAILTON GARCIA DA SILVA   ADAILTON
16                  ADALA NAYANA DE SOUSA MATA      ADALA
17          ADALBERTO ALMEIDA DE ARAUJO JUNIOR  ADALBERTO
18           ADALBERTO ATSUSHI HAMAGUCHI PORTO  ADALBERTO
19                 ADALBERTO FABRICIO DA SILVA  ADALBERTO
20         ADALGIZA CRISTINA GOMES DE OLIVEIRA   ADALGIZA
21            ADAM RAFAEL GONCALVES CAVALCANTE       ADAM
22                              ADAMO PERRUCCI      ADAMO
23                            ADAUTO CHIAMENTI     ADAUTO
24              ADAUTO LUIZ DE PAIVA FERNANDES     ADAUTO
25                       ADAUTO SABINO BEZERRA     ADAUTO
26                  ADDISON RIBEIRO DE ALMEIDA    ADDISON
27                       ADEILDE LIMA DA SILVA    ADEILDE
28             ADEILZE MAIA DE MORAIS MEDEIROS    ADEILZE
29               ADELAIDE MARIA MORAIS AVELINO   ADELAIDE
..                                         ...        ...
70                     ADRIANA MARQUES ROBERTO    ADRIANA
71                 ADRIANA MONTEIRO DE ALMEIDA    ADRIANA
72                          ADRIANA NESI DE SA    ADRIANA
73               ADRIANA NOBREGA SILVA AZEVEDO    ADRIANA
74                       ADRIANA OLIVEIRA DIAS    ADRIANA
75             ADRIANA OLIVEIRA FREIRE DE LIMA    ADRIANA
76            ADRIANA PAULA DA SILVA ELEUTERIO    ADRIANA
77                       ADRIANA ROSA CARVALHO    ADRIANA
78                       ADRIANA SZILAGYI LEAO    ADRIANA
79                               ADRIANE CENCI    ADRIANE
80                ADRIANE DENISE FONSECA LOPES    ADRIANE
81                  ADRIANE TRAMONTIN SANTIAGO    ADRIANE
82            ADRIANNE PAULA VIEIRA DE ANDRADE   ADRIANNE
83                       ADRIANO ARANHA FREIRE    ADRIANO
84                 ADRIANO BRETANHA LOPES TORT    ADRIANO
85           ADRIANO CALIMAN FERREIRA DA SILVA    ADRIANO
86              ADRIANO CARLOS COSTA DE MORAIS    ADRIANO
87               ADRIANO CHARLES DA SILVA CRUZ    ADRIANO
88              ADRIANO DE ARAUJO LIMA LIGUORI    ADRIANO
89                   ADRIANO DE OLIVEIRA SOUSA    ADRIANO
90                          ADRIANO DOS SANTOS    ADRIANO
91       ADRIANO HENRIQUE DO NASCIMENTO RANGEL    ADRIANO
92                        ADRIANO LIMA TROLEIS    ADRIANO
93                         ADRIANO LOPES GOMES    ADRIANO
94             ADRIANO LUIS DE CARVALHO ARAUJO    ADRIANO
95                  ADRIANO MARINHO DOS SANTOS    ADRIANO
96                     ADRIANO MEDEIROS CAMARA    ADRIANO
97                      ADRIANO MEDEIROS COSTA    ADRIANO
98                  ADRIANO MEDEIROS DE ARAUJO    ADRIANO
99                       ADRIANO ROCHA GERMANO    ADRIANO

[100 rows x 2 columns]

In [71]:
unique_first_names = employee_names['first_name'].unique()
print(len(unique_first_names))

2263

In [72]:
employee_names.to_csv('employee_names-2.csv')
print('Done!')

Done!